<!DOCTYPE html>
<html lang="en">

<head>
    <title>SONY FP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 30%;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 50%;
        }

        .swiper-slide:nth-child(2n) {
            width: 30%;
        }

        .swiper-slide:nth-child(3n) {
            width: 29%;
        }

        .swiper-slide:nth-child(5n) {
            width: 28%;
        }

        .swiper-slide:nth-child(7n) {
            width: 27%;
        }


        .jumbotron {
            background-color: #ffffff;
            /* Orange */
            color: #ffffff;

        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .container-fluid {
            padding: 60px 50px;
        }

        .logo {
            color: #f4511e;
            font-size: 200px;
        }

        .slideanim {
            visibility: hidden;
        }

        .slide {
            /* The name of the animation */
            animation-name: slide;
            -webkit-animation-name: slide;
            /* The duration of the animation */
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            /* Make the element visible */
            visibility: visible;
        }

        /* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
        @keyframes slide {
            0% {
                opacity: 0;
                transform: translateY(70%);
            }

            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        @-webkit-keyframes slide {
            0% {
                opacity: 0;
                -webkit-transform: translateY(70%);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0%);
            }
        }

        /*.carousel-inner img {
            width: 100%;
            height: 100%;
        }*/

        @media screen and (max-width: 768px) {
            .col-sm-4 {
                text-align: center;
                margin: 25px 0;
            }
        }
    </style>
</head>



<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #000000;">
        <a class="navbar-brand" href="#myPage"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Sony_logo_%28white%29.svg/1280px-Sony_logo_%28white%29.svg.png"
                alt="" width="85" height="17"></a>
        <ul class="navbar-nav navbar-left">
            <li class="nav-item">
                <a class="nav-link" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produk_home">PRODUCT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tim_home">CONTRIBUTOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT</a>
            </li>
           
        </ul>
      
    </nav>

    <div style="padding-top: 55px;">
        <!--div class="jumbotron text-center"-->
        <div id="myCarousel" class="carousel carousel slide text-center" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ul>

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-white" role="listbox">
                <div class="carousel-item active">
                    <div class="card img-fluid text-left">
                        <img src="https://www.sony.com/image/a6d7fbe3d85bf3bb6574cb33e979315b?fmt=pjpeg&wid=4000&bgcolor=F1F5F9&bgc=F1F5F9&qlt=43"
                            alt="" height="640px" width="100%">
                        <div class="card-img-overlay">

                            <h2 class="card-title" style="padding-left: 275px; padding-top: 250px;">
                                Sound and vision <br> in perfect harmony
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card img-fluid text-left">
                        <img src="https://www.sony.com/image/850551585160c6acafb69d14b7b3f0b5?fmt=pjpeg&wid=4000&bgcolor=F1F5F9&bgc=F1F5F9&qlt=43"
                            alt="" height="640px" width="100%">
                        <div class="card-img-overlay">

                            <h2 class="card-title" style="padding-left: 150px; padding-top: 225px;">
                                Immerse yourself in a
                                <br> game-changing
                                <br> experience
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card img-fluid text-left">
                        <img src="https://www.sonymobile.co.jp/xperia/xperia1m2/_common/img/top/camera_wide.jpg"
                            class="rounded mx-auto d-block" alt="" height="640" width="100%">
                        <div class="card-img-overlay">

                            <h4 class="card-title" style="padding-left: 720px; padding-top: 50px;">
                                While being a smartphone <br>
                                approaching the single-lens camera
                            </h4>
                            <p class="cart-text" style="padding-left: 720px;">
                                Experiences beyond imagination for the dedicated and passionate
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card img-fluid text-left">
                        <img src="https://www.sony.com/image/26b0b4a88e973e65193ba47f271456da?fmt=pjpeg&wid=4000&qlt=43"
                            alt="" height="640px" style="width: 100%;">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card img-fluid text-left">
                        <img src="https://www.sony.co.id/image/34e259a1c0d2c542c0677a5a7f78a22e?fmt=pjpeg&wid=4000&bgcolor=F1F5F9&bgc=F1F5F9&qlt=43"
                            alt="" height="640px" style="width: 100%;">
                        <div class="card-img-overlay text-white">
                            <h4 class="card-title" style="padding-left: 200px; padding-top: 200px;">All Electronics</h4>
                            <p class="card-text" style="padding-left: 200px;">Whether you’re working, playing, creating,
                                or relaxing,
                                <br> Sony’s wide range of electronics
                                combines innovative <br> technology with sleek design.</p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>

        <div id="about" class="container-fluid">
            <div class="row">
                <div class="col-sm-8">

                    <h4>Sony Corporation</h4>
                    <% tentang_kami.forEach(function(tentang_kami){ %>

                    <p><%= tentang_kami.sejarah %></p>

                    <% }); %>

                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-2">
                    <% tentang_kami.forEach(function(tentang_kami){ %>
                    <img class="img-fluid"
                        src="http://localhost:3000/public/images/upload_image/tentang/<%=tentang_kami.foto%>" alt=""
                        style="padding-top: 25px; min-height: 65%; max-height: 65%; " height="65%" width="75%">
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid slideanim">
        <div class="row">
            <div class="col-sm-6">
                <img src="https://www.sony.co.id/image/e860e41997cc5e1aaae704d035432759?fmt=pjpeg&wid=4000&qlt=43"
                    style="max-width: 100%;" />
            </div>
            <% tentang_kami.forEach(function(tentang_kami){ %>
            <div class="col-sm-6">
                <h2>Sony's Purpose & Values</h2>
                <h4> Purpose</h4>
                <p><%= tentang_kami.visi %></p>
                <h4>Values</h4>
                <p><strong>Dreams & Curiosity</strong><br> <%= tentang_kami.misi %></p>
                
            </div>
            <% }); %>
        </div>
    </div>

    <div id="latest" class="container-fluid slideanim">
        <div class="row">
            <div class="col-sm-8">
                <h3>THE LATEST</h3>
                <h5>What we have created</h5>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card img-fluid text-left text-white">
                        <img class="card-img"
                            src="https://www.sony.co.id/image/ecb4fd6e5db7a48c94e6b4f952ecba29?fmt=pjpeg&wid=781"
                            alt="Inspired by Professional Passion" height="490px" style="width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: 350px;font-size: 12px;">
                                <strong>α9 II</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Inspired by Professional <br> Passion
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left">
                        <img class="card-img"
                            src="https://www.sony.co.id/image/abfac1f2890644130478ab03b3895887?fmt=pjpeg&wid=377"
                            alt="Inspired by Professional Passion" style="width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: px;font-size: 12px;">
                                <strong>WI-SP510</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Designed for an active <br> lifestyle
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left text-white">
                        <img class="card-img"
                            src="https://www.sony.co.id/image/a82c649ef4a8f981c5b9dcefe8a5c58c?fmt=png-alpha&wid=377"
                            alt="Inspired by Professional Passion" style="height: 490px; width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: 350px;font-size: 12px;">
                                <strong>WH-H910N</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Dial up the colour. Tune out <br> the noise.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left text-white">
                        <img class="card-img"
                            src="https://www.sony.co.id/image/7e1d70a3026e6e51cb5eaf613b6b6e51?fmt=png-alpha&wid=377"
                            alt="Inspired by Professional Passion" style="height: 490px; width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: 350px;font-size: 12px;">
                                <strong>HT-S20R</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Experience real 5.1ch <br> surround sound
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left text-white">
                        <img class="card-img"
                            src="https://www.sony.com/image/0faaeec89a0c58023a0f07e15200435e?fmt=png-alpha&wid=377"
                            alt="Inspired by Professional Passion" style="height: 490px; width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: px;font-size: 12px;">
                                <strong>Xperia 1 II</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Built for speed
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left">
                        <img class="card-img"
                            src="https://www.sony.com/image/a95b8d8bff24081a40e7506231035fe3?fmt=png-alpha&wid=377"
                            alt="Inspired by Professional Passion" style="height: 490px; width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: px;font-size: 12px;">
                                <strong>Xperia PRO</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Harness the power of 5G <br> mmWave
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left text-grey">
                        <img class="card-img"
                            src="https://www.sony.co.id/image/8247ec90f30630a914764aa102ac54ad?fmt=pjpeg&wid=377"
                            alt="Inspired by Professional Passion" style="height: 490px; width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: 350px;font-size: 12px;">
                                <strong>SEL20F18G</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                G Lens ultra-wide angle <br>
                                prime FE 20mm F1.8 G <br>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left text-white">
                        <img class="card-img"
                            src="https://www.sony.co.id/image/4b36033d94f3697cde9f4b3b92aa708b?fmt=pjpeg&wid=377"
                            alt="Inspired by Professional Passion" style="height: 490px; width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: 375px;font-size: 12px;">
                                <strong>α7R IV</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Another Milestone
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card img-fluid text-left text-white">
                        <img class="card-img"
                            src="https://www.sony.co.id/image/3bed6ff3d13e1e3eb6406cac27a30fdc?fmt=pjpeg&wid=377"
                            alt="Inspired by Professional Passion" style="height: 490px; width: 100%;">
                        <div class="card-img-overlay">
                            <p class="card-text" style="padding-left: 25px; padding-top: 375px;font-size: 12px;">
                                <strong>α6600</strong>
                            </p>
                            <h5 class="card-title" style="padding-left: 25px;">
                                Power in your hands
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
        </div>
    </div>

    <div id="contact" class="container-fluid bg-grey ">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <pre style="tab-size: 1;"><i class='fas fa-map-marker-alt'></i>  Chicago, US</pre>
                <pre style="tab-size: 1;"><i class='fas fa-mobile-alt'></i>  +00 1515151515</pre>
                <pre style="tab-size: 1;"><i class='fas fa-envelope'></i>  myemail@something.com</pre>
            </div>
            <div class="col-sm-7 slideanim">
                <form action="/savekontak" method="post">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email"
                                required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                        rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn btn-outline-secondary pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <i class='fas fa-angle-up' style='font-size:36px;color:rgb(78, 75, 75)'></i>
        </a>
        <p>WEB for SONY Corporation Made By Kelompok 4</p>
        <a href="/" class="nav-item" >login</a>
    </footer>
</body>

<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {

                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    })

    $(window).scroll(function () {
        $(".slideanim").each(function () {
            var pos = $(this).offset().top;

            var winTop = $(window).scrollTop();
            if (pos < winTop + 600) {
                $(this).addClass("slide");
            }
        });
    });

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: 10,
        centeredSlides: false,
        freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        mousewheel: true,
        keyboard: true,
    });
</script>

</html>