<!DOCTYPE html>
<html lang="en">

<head>
    <title>SONY FP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 30%;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 50%;
        }

        .swiper-slide:nth-child(2n) {
            width: 30%;
        }

        .swiper-slide:nth-child(3n) {
            width: 29%;
        }

        .swiper-slide:nth-child(5n) {
            width: 28%;
        }

        .swiper-slide:nth-child(7n) {
            width: 27%;
        }


        .jumbotron {
            background-color: #ffffff;
            /* Orange */
            color: #ffffff;

        }

        .bg-grey {
            background-color: #f6f6f6;
        }

        .container-fluid {
            padding: 60px 50px;
        }

        .logo {
            color: #f4511e;
            font-size: 200px;
        }

        .slideanim {
            visibility: hidden;
        }

        .slide {
            /* The name of the animation */
            animation-name: slide;
            -webkit-animation-name: slide;
            /* The duration of the animation */
            animation-duration: 1s;
            -webkit-animation-duration: 1s;
            /* Make the element visible */
            visibility: visible;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 81px;
            right: 0;
            background-color: #008CBA;
            overflow: hidden;
            width: 220px;
            height: 0;
            transition: .5s ease;
        }

        .col-sm-4:hover .overlay {
            height: 85%;
        }

        .text {
            color: white;
            font-size: 15px;
            position: absolute;
            top: 20%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
        /* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
        @keyframes slide {
            0% {
                opacity: 0;
                transform: translateY(70%);
            }

            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }

        @-webkit-keyframes slide {
            0% {
                opacity: 0;
                -webkit-transform: translateY(70%);
            }

            100% {
                opacity: 1;
                -webkit-transform: translateY(0%);
            }
        }

        /*.carousel-inner img {
            width: 100%;
            height: 100%;
        }*/

        @media screen and (max-width: 768px) {
            .col-sm-4 {
                text-align: center;
                margin: 25px 0;
            }
        }
    </style>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #000000;">
        <a class="navbar-brand" href="#myPage"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Sony_logo_%28white%29.svg/1280px-Sony_logo_%28white%29.svg.png"
                alt="" width="85" height="17"></a>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/produk_home">PRODUCT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tim_home">CONTRIBUTOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT</a>
            </li>
        </ul>
    </nav>

    <div class="card img-fluid text-left">
        <img src="https://www.sony.co.id/image/34e259a1c0d2c542c0677a5a7f78a22e?fmt=pjpeg&wid=4000&bgcolor=F1F5F9&bgc=F1F5F9&qlt=43"
            alt="" height="640px" style="width: 100%;">
        <div class="card-img-overlay text-white">
            <h4 class="card-title" style="padding-left: 200px; padding-top: 200px;">All Electronics</h4>
            <p class="card-text" style="padding-left: 200px;">Whether you’re working, playing, creating,
                or relaxing,
                <br> Sony’s wide range of electronics
                combines innovative <br> technology with sleek design.</p>
        </div>
    </div>

   
    <div id="product" class="container-fluid text-center">
        <div class="row text-left slideanim">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <h3>PRODUCT</h3>
                <h5>What we offer</h5>
            </div>
        </div>
        
        <div class="row slideanim">
            <% produk.forEach(function(produk){ %>
            <div class="col-sm-4">
                <br><br>
                <img src="http://localhost:3000/public/images/upload_image/produk/<%=produk.foto%>" height="200px"
                    width="200px" />
                <div class="overlay">
                    <div class="text">
                        <%= produk.namaproduk %>
                    </div>
                    <div class="text">
                        <br><br><br><br><br>
                        <%= produk.harga %>
                    </div>
                    <div class="text">
                        <br><br><br><br><br><br><br><br><br><br>
                        <%= produk.spesifikasi %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <div id="contact" class="container-fluid bg-grey ">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <pre style="tab-size: 1;"><i class='fas fa-map-marker-alt'></i>  Chicago, US</pre>
                <pre style="tab-size: 1;"><i class='fas fa-mobile-alt'></i>  +00 1515151515</pre>
                <pre style="tab-size: 1;"><i class='fas fa-envelope'></i>  myemail@something.com</pre>
            </div>
            <div class="col-sm-7 slideanim">
                <form action="/savekontak_produk" method="post">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email"
                                required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                        rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn btn-outline-secondary pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <a href="#myPage" title="To Top">
            <i class='fas fa-angle-up' style='font-size:36px;color:rgb(78, 75, 75)'></i>
        </a>
        <p>WEB for SONY Corporation Made By Kelompok 4</p>
    </footer>
</body>

<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {

                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    })

    $(window).scroll(function () {
        $(".slideanim").each(function () {
            var pos = $(this).offset().top;

            var winTop = $(window).scrollTop();
            if (pos < winTop + 600) {
                $(this).addClass("slide");
            }
        });
    });

    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: 10,
        centeredSlides: false,
        freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        mousewheel: true,
        keyboard: true,
    });
</script>

</html>